body {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
    
.container {
    display: table-cell;
    vertical-align: middle;
}

.box {
    width: 100%;
    padding: 4px;
    margin: 8px auto;   
    text-align: center;
}

table thead th, table thead td, table tbody td {
    vertical-align: middle !important;
}